body{
    padding-top: 500px;
    padding-left: 100px;

    box-sizing: border-box;


}

.Kl h1 a{
display: inline-block;
font-size: 1em;
background: black;
padding: 10px 30px;
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
margin-top: 10px;
color:white;
letter-spacing: 2px;
transition: 0.5s;}

.Kl h1 a:hover{
    letter-spacing: 6px;

}