@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*rem means multiplication by number of pixels*/
*{
    padding: 0;
    margin:0;
    border-radius: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    color:#111;
}

section{
    display: flex;
    height:100vh;
    align-items: center;
    padding: 100px;

}

.btn{
    display: inline-block;
    background: #f60f20;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.toggle{
    background:url(img/images.png);
    position: fixed;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 20;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle.active{
    background:url(img/close.png) #f60f20;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;


    

}

.btn:hover{
    transform: scale(0.98);
}
h1{
    font-size: 50px;
    font-weight: 500;
}
.home-content{
    z-index: 10;
    max-width: 600px;
}

p{
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

.logo{
    position:absolute;
    top: 30px;
    left:30px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}

.home-img{
    position: absolute;
    bottom:0;
    right:0;
    height: 110%;
}

.navigation
{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height:100%;
    z-index: 15;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation.active{
    left: 0;
}

.navigation ul li{
    text-decoration: none;
    list-style: none;
    position: relative;
}

.navigation ul li a{
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 300;
    transition: 1s;
}

.navigation ul li a:hover{
    color: #f60f20;
    letter-spacing: 5px;
}

.navigation .social-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.navigation.active .social-bar a{
    display: inline-block;
    transition: 1s;
}

.navigation.active .social-bar a:hover{
    transform: scale(0.9);;
    
}